h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.contain {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contain2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cms-heading-h2 {
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.faq {
    width: 80%;
    height: 25rem;
    border: 3px double royalblue;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.contact {
    color: rgb(2, 2, 234);
    background-color: white;
    height: 10rem;
    min-width: 17rem;
    font-size: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    border-radius: 50px;
    border: 3px solid rgb(44, 49, 140);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    letter-spacing: 0.015rem;
    font-weight: 100;
    font-family: 'MarkOT', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-size: 2rem;
    margin: 1rem;
}

.contact:hover {
    color: white;
    background-color: rgb(2, 2, 234);
    border-color: rgb(44, 49, 140);
}